<h1>Add a definition to <%= @words.word_name() %> </h1>

<form action="/words/<%= @words.id %>" method="post">
  <label for="word_definition">Your Definition:</label>
  <input type="text" id="word_definition" name="word_definition">
  <button type="submit">Add</button>
</form>
