<div class="container1">
  <h1>Add a definition to<span class="word_into"> <%= @words.word_name() %> </span></h1>

  <form action="/words/<%= @words.id %>" method="post">
    <label for="word_definition"><span class="form1">Your Definition:</span></label>
    <input type="text" id="word_definition" name="word_definition">
    <button type="submit">Add</button>
  </form>
</div
