<div class="container1">
  <h1 class="lines">Add a word to your dictionary!</h1>

  <form action="/words" method="post">
    <label for="word_name">Your Word:</label>
    <input class="form-control" type="text" name="word_name" id="word_name">

    <button class="btn btn-default" type="submit">Add</button>
  </form>
</div>
