<h1>Add a word to your dictionary!</h1>

<form action="/words" method="post">

<label for="word_name">Your Word:</label>
<input class="form-control" type="text" name="word_name" id="word_name">

<!-- <label for="definition">Definition:</label>
<input class="form-control" type="text" name="definition" id="definition"> -->

<button class="btn btn-default" type="submit">Add</button>
</form>
