<div class="container1">
  <h2 class="undersize">Welcome to your</h2>
  <h1 class ="bigsize">Personal Dictionary</h3>

  <a href="/words" class="link1">SEE YOUR DICTIONARY</a>

  <a href="/words/new" class="link2">ADD NEW WORD</a>
</div>
