<div class="container1">
  <h1 class="dictionary">Your Dictionary</h1>

  <h2 class= "lines">Click on a word to to view it's definition:</h2>
  <div class="list1">
    <ul>
      <% @words.each() do |word| %>
      <li><a href="/words/<%= word.id() %>"><%= word.word_name() %></a></li>
      <% end %>
    </ul>
  </div>
  <h2 class="lines"> Or add a <a href ="/words/new">new word</a> to the list!</h2>

  <a href="/">HOME</a>
</div>
