<h1><%= @words.word_name() %></h1>
<h2>definition:</h2>
<ul>
    <% @words.word_meanings().each do |meaning| %>
    <li><%= meaning.word_definition() %></li>
    <% end %>
</ul>



<a href="/words/<%= @words.id %>/add_definition_form"><button class="btn btn-default" type="button">Add Definition</button></a>
