@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);

* {
  font-family: 'Playfair Display';
  color: color: #B49759;
}

.container1 {
  background-color: #353844;
  /*background-color: #CEC3CD;*/
  /*padding: 70px;*/
  padding: 175px;
}

.bigsize {
  letter-spacing: .03em;
  line-height: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 65px;
  font-weight: 700;
  font-family: 'Playfair Display';
  /*color: #463a44;*/
  color: #B49759;
  margin-left: -40px;
}

.undersize {
  font-size: 20px;
  letter-spacing: .1em;
  font-style: italic;
  font-weight: 400;
  font-family: 'Playfair Display';
  /*color: #3B3B3C;*/
  color: #B49759;
  margin-bottom: -13px;
  margin-top: -30px;
  margin-left: -40px;
}

.link1 {
  margin-left: -40px;
  font-size: 23px;
  font-style: italic;
  font-weight: 400;
  font-family: 'Playfair Display';
  text-decoration: none;

}

.link2 {
  margin-left: 20px;
  font-size: 23px;
  font-style: italic;
  font-weight: 400;
  font-family: 'Playfair Display';
  text-decoration: none;
}

.dictionary {
  letter-spacing: .03em;
  line-height: 80px;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Playfair Display';
  /*color: #463a44;*/
  color: #B49759;
  margin-top: -30px;
}

.lines {
  font-size: 20px;
  letter-spacing: .1em;
  font-style: italic;
  font-weight: 400;
  font-family: 'Playfair Display';
  /*color: #3B3B3C;*/
  color: #B49759;
  margin-top: -5px;
}

.list1 {
  padding: 15px;
  color: #B49759;
  font-size: 18px;
}

.head1 {
  margin-bottom: 15px;
}

.btn {
  margin-top: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  /*color:#3B3B3C;*/
  color: #B49759;
  margin-top: 10px;
  text-decoration: none;
}

h2 {
  color: #B49759;
}

h1 {
  color: #B49759;
}


.form1 {
  color: #B49759;
}

.word_into {
  font-size: 35px;
  letter-spacing: .1em;
  font-style: italic;
  font-weight: 400;
  font-family: 'Playfair Display';
  /*color: #3B3B3C;*/
  color: #B49759;
  margin-top: -5px;
  }
